@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <a asp-action="Edit" class="btn btn-success">Создать</a>

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var empl in Model)
            {
            <tr>
                <td>
                    <a asp-controller="Employees" asp-action="EmployeeDetails" asp-route-id="@empl.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </td>
                <td>@empl.Id</td>
                <td>@empl.Surname</td>
                <td>@empl.FirstName</td>
                <td>@empl.Patronymic</td>
                <td>@empl.Age</td>
                <td>
                    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@empl.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a asp-controller="Employees" asp-action="Delete" asp-route-id="@empl.Id">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
